<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" th:replace="base::layout(~{::body})">
<head>
<meta charset="ISO-8859-1">
<title>Mishra Shiksha Niketan</title>
</head>
<body>
<div class="container">
	<table class="table table-dark">
	<tbody>
	<tr>
	<td>Id: </td><td th:text="${st.getStuId()}"></td>
	</tr>
	<tr><td>Name: </td><td th:text="${st.getStuName()}"></td></tr>
	<tr><td>Class: </td><td th:text="${st.getClss()}"></td></tr>
	<tr><td>Aadhaar Number: </td><td th:text="${st.getAadhaar()}"></td></tr>
	<tr><td>Fees Due: </td><td th:text="${st.getFeedue()}"></td></tr>
	<tr><td>Transport: </td><td th:if="${st.isTransport()}" th:text="Yes"></td><td th:unless="${st.isTransport()}" th:text="No"></td></tr>
	</tbody>
	</table>

	<form th:action="@{/admin/fees}" th:method="post" >
<label>Fees Paid: </label><input type="number" th:name="amt">
<button type="submit">Save</button>
</form>
	</div>
</body>
</html>